<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Livros</title>
</head>
<body>
    <div class="container-getBooks">
        <table class="customers">
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Número de Páginas</th>
            </tr>

            {{#each data}}
            <tr>
                
                <td>{{this.title}}</td>
                <td>{{this.name_author}}</td>
                <td>{{this.pages_qtd}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</body>
</html>