<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Node.js, Sequelize com MySQL</title>
</head>
<body>
    <header>
   <h1 id="nav-title"><a href="#">DEV.TO</a></h1>
    <nav>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>          
    </header>
    {{{body}}}
</body>

</html>