<div class="container-card">
    <div class="card">
        <img src="/assets/user_photo.png" alt="Imagem de Usuário">
        <h2>Usuário</h2>
        <p>Nome: {{user.name}}</p>
        <p>Profissão: {{user.occupation}}</p>

        <div class="container-forms">
            <form action="/api/users/getUpdateUser/{{user.id}}" class="form-edit">
                <input type="submit" value="Editar">
            </form>
            <form action="/api/users/deleteUser/{{user.id}}" method="post" class="form-delete">
                <input type="submit" value="Excluir">
            </form>
        </div>
    </div>
</div>