<div class="container-card">
    <div class="card">
        <img src="/assets/user_photo.png" alt="Imagem de Usuário">
        <h2>Usuário</h2>
        <p>Nome: {{user.name}}</p>
        <p>Profissão: {{user.occupation}}</p>
        <button>Editar</button>
    </div>
</div>