<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de opções</title>
</head>
<body>
    <div class="container-menu">
        <div class="container-cards">
            <a href="/book/registerBook">Cadastrar livro</a>
            <a href="/book/getBooks">Listar livros</a>
        </div>       
           
    </div>
</body>
</html>